table {
    border: solid black;
	padding: 15px;
	font-size: 80%;
	width: 60%;
}

td {
    border: thin solid black;
    padding: 10px;
}

.odd {
    background: rgb(230, 97, 0);
}

#movierec {
    width: 180px;
    border: solid 10px rgb(230, 97, 0);
}

#rectext {
    font-size: 12px;
}

